body{
  background-color: black;
  color:aliceblue;
}
input{
  border-radius: 20px;
  padding: 4px;
  background-color: black;
  color: aliceblue;
}
button{
  margin-left: 4px;
  border-radius: 20px;
  background-color: black;
  color: aliceblue;
  border-color: aliceblue;
}
.list_ele{
  display: flex;
  flex-direction: row;
}
.container{
  margin-left: 45%;
  margin-top: 15%;

}
.list_divider{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.divider{
  margin-left: -20%;
}
h1{
  margin-left: 1%;
}